<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng Ký</title>
    <link rel="stylesheet" href="{{   
        url_for('static', filename='register_styles.css') }}">
</head>
<body>
    <div class="login-form">
    <h1>Đăng Ký Tài Khoản</h1>
    <form action="{{ url_for('register') }}" method="POST">
        <div class="form-group1">
            <label for="username" class="label-left">Tên người dùng:</label>
          </div>
          <div class="form-group">
            <input type="text" id="username" name="username" required><br>
            <br>
          </div>
          <div class="form-group1">
            <label for="password" class="label-left">Mật khẩu:</label>
          </div>
          <div class="form-group">
            <input type="password" id="password" name="password" required><br>
            <br>
          </div>
          <div class="form-group1">
        <label for="confirm_password" class="label-left">Xác nhận mật khẩu:</label>
          </div>
          <div class="form-group">
        <input type="password" id="confirm_password" name="confirm_password" required><br>
          </div>
          <br>
        <button type="submit">Đăng ký</button>  
        <br>
        <label > Đã có tài khoản? </label>
    <a href="{{ url_for('login') }}">Quay lại trang đăng nhập.</a>
</form>
</div>
</body>
</html>